$primary-color: #384eb0;
@import "node_modules/spectre.css/src/spectre";

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.text-serif {
  font-family: Georgia, Times, Times New Roman, serif;
}

.caption {
  font-size: 0.65rem;
}
